.content-contact{
	.content-title{
		.rrss a{
			@include button($icon_color1, transparent, $icon_color1);
			.svg-inline--fa{
				font-size: 30px;
			}					
		}
	}
	.content-text{
		.list-contact{
			li{
				font-size: 35px;
				.fa-at{
					position: relative;
					color: $icon_color1;
					z-index: 1;
					:after{
						content:"\f1fa";
						position:absolute;
						font-size: 35px;
						left: 2px;
						right: 0;
						color: $icon_color2;
						z-index: -1;
					}
				}
				.fa-mobile{
					position: relative;
					color: $icon_color1;
					z-index: 1;
					&:after{
						content:"\f10b";
						position:absolute;
						font-size: 35px;
						left: 2px;
						right: 0;
						color: $icon_color2;
						z-index: -1;
					}
				}
			}
		}
	}
}