/*----------Indice-------------
		#font-size
*/
// #font-size
@mixin font-size($size) {
  font-size: $size + px;
  font-size: ($size / 10) + rem;
}

@mixin button($border, $background-color, $color) {
  @include font-size(14);
  background-color: $background-color;
  border: 1px solid $border;
  border-right: 0;
  border-bottom: 0;
  border-radius: 0;
  color: $color;
  font-family: $title;
  text-transform: uppercase;
  padding: 15px 20px;
  position:relative;
  &:before{
    content:"";
    position: absolute;
    background-color: $border;
    right: -5px;
    top: 1px;
    bottom:0;
    padding:2.5px;
    transform: skew(0,45deg);
  }
  &:after{
    content:"";
    position: absolute;
    background-color: $border;
    width: 100%;
    left: 1px;
    bottom: -4px;
    height: 5px;
    transform: skew(45deg);
  }
}

//Style for buttom down header
@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}
@mixin animation($animation) {
  -webkit-animation: #{$animation};
  -moz-animation: #{$animation};
  -ms-animation: #{$animation};
  animation: #{$animation};
}
@mixin transform($transform) {
  -webkit-transform: $transform;
  -moz-transform: $transform;
  -ms-transform: $transform;
  transform: $transform;
}

@mixin contentSection{
  padding: 80px 0;
}

@mixin decoracion($left, $right){
  position: relative;
  .img-left{
    position:absolute;
    width: 15%;
    left: 0;
    top: $left;
  }
  .img-right{
    position:absolute;
    width: 15%;
    right: 0;
    top: $right;
  }
}

//Breakpoint 
@mixin breakpoint {
    .navbar-header { float: none }
    .navbar-left, .navbar-right { float: none !important }
    .navbar-toggle { display: block }
    .navbar-collapse { border-top: 1px solid transparent; box-shadow: inset 0 1px 0 rgba(255,255,255,0.1); }
    .navbar-fixed-top { top: 0; border-width: 0 0 1px; }
    .navbar-collapse.collapse { display: none!important }
    .navbar-nav { float: none!important; margin-top: 7.5px; }
    .navbar-nav>li { float: none }
    .navbar-nav>li>a { padding-top: 10px; padding-bottom: 10px; }
    .collapse.in { display: block !important }
}
