/*----------Indice-------------
		#font-size
*/
// #font-size
@mixin font-size($size) {
  font-size: $size + px;
  font-size: ($size / 10) + rem;
}

@mixin button($border, $background-color, $color) {
  @include font-size(14);
  background-color: $background-color;
  border: 0;
  border-radius: 2px;
  color: $color;
  font-family: $title;
  padding: 8px 17px;
}

//Style for buttom down header
@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}
@mixin animation($animation) {
  -webkit-animation: #{$animation};
  -moz-animation: #{$animation};
  -ms-animation: #{$animation};
  animation: #{$animation};
}
@mixin transform($transform) {
  -webkit-transform: $transform;
  -moz-transform: $transform;
  -ms-transform: $transform;
  transform: $transform;
}

//Breakpoint 
@mixin breakpoint {
    .navbar-header { float: none }
    .navbar-left, .navbar-right { float: none !important }
    .navbar-toggle { display: block }
    .navbar-collapse { border-top: 1px solid transparent; box-shadow: inset 0 1px 0 rgba(255,255,255,0.1); }
    .navbar-fixed-top { top: 0; border-width: 0 0 1px; }
    .navbar-collapse.collapse { display: none!important }
    .navbar-nav { float: none!important; margin-top: 7.5px; }
    .navbar-nav>li { float: none }
    .navbar-nav>li>a { padding-top: 10px; padding-bottom: 10px; }
    .collapse.in { display: block !important }
}
