/*----------Indice----------
		#colors
		#tipography
		#max-width
		#padding-left-and-right-of-the-header
*/
//	#Typography
@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One');
@import url('https://fonts.googleapis.com/css?family=Lato');

$title: 'Julius Sans One', sans-serif;
$body: 'Lato', sans-serif;;

//	#colors
$color_cover: #fff;


$base: 420px;
$small: 600px;
$medium: 900px;
$large: 1000px;
$big:1200px;
