/*----------Indice----------
		#tipography
		#colors
		#breakpoints
*/
//	#Typography
@import url('https://fonts.googleapis.com/css?family=Arvo');
@import url('https://fonts.googleapis.com/css?family=Varela+Round');

$title: 'Arvo', serif;
$body: 'Varela Round', sans-serif;

//	#colors
$color_cover: #fff;
$color_nav: #4d4c4c;
$color_text: #787878;
$icon_color1: #8787af;
$icon_color2: #adc3e5;
$text_nav: $color_cover;
$color_title: #4d4c4c;
$color_project: #e0e8ee;
$color_btn: #888888;
$color_background: #f8f8f8;
$footer_background: $color_nav;
$text_footer: $color_cover;

// #Breakpoints
$base: 420px;
$small: 600px;
$medium: 900px;
$large: 1000px;
$big:1200px;
