/*----------Indice----------
		#colors
		#tipography
		#max-width
		#padding-left-and-right-of-the-header
*/
//	#Typography
@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One');
@import url('https://fonts.googleapis.com/css?family=Lato');

$title: 'Julius Sans One', sans-serif;
$body: 'Lato', sans-serif;;

//	#colors
$white: #F6F7F9;
$black: #171327;
$purple: #2D2E3B;//#844D9E;
$blue: #292967;
$turqueza: #D02A5C;//#288886;
$turqueza_claro:#32a7a4;
$blue_light: $turqueza;//#367ABD;

$icon-color: $turqueza;//#4A94DD;

$color_text: #686868; 

$base: 420px;
$small: 600px;
$medium: 900px;
$large: 1000px;
$big:1200px;
